body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
textarea{ 
	width: 800px; 
	min-width:200px; 
	max-height:800px; 

	height:200px; 
	min-height:200px;  
	max-height:200px;
}
dl {
	box-shadow: 1px 1px 1px 1px #ccc;
	padding: 5px;
}
dl dd {
	margin-left: 0;
	display: inline;
}
